<div class="navbar " @onmouseover="@(e => hideClass = null)" @onmouseout="@(e => hideClass = "hide" )" >
  <div class="@hideClass">
  <NavLink href="" Match="NavLinkMatch.All">
    <span>This is a navbar</span>
  </NavLink>
  </div>
</div>

@code {

  string hideClass = "hide";

}
