@page "/"

<PageTitle>Welcome</PageTitle>

<div class="fs-container">
  <div class="circle">
    <div class="title-container">
      <h1>WELCOME</h1>
    </div>
    <div class="play-button-container">
      <NavLink href="/play" Match="NavLinkMatch.All">
        <button class="btn btn-play">PLAY</button>
      </NavLink>
    </div>
  </div>
</div>

@code
{
 
}